{% extends 'templates/about.twig' %}

{% block content %}
<div id="team" class="col s12">
  <section class="intro-text">
    <blockquote>
      We would like to thank a few people for helping with the launch of this platform. 
    </blockquote>
    <p>To make something purposeful takes dedication and vision.</p>
  </section>
  <hr>
  <section class="leadership-team" style="padding-top:80px;">
    <div class="team-members">
      <div class="team-member">
        <div class="team-member-portrait">
          <img src="{{ base_url() }}/assets/img/JPG/Tomoko.JPG" alt="team-member">
        </div>
        <div class="team-member-text">
          <h3>Tomoko Matsuoka</h3>
          <h4>Editor and Copywriter</h4>
          <ul class="web-link" style="display: flex;">
            <li><a href="http://www.goodedits.com/" target="_blank" rel="noopener">goodedits.com</a></li>
          </ul>
          <p>I am a certified English-language copyeditor and copywriter with years of experience in meeting a wide range of content needs, from writing articles, blog posts, and commercial/personal websites to editing full-length novels and children's chapter books. I believe in delivering quality text content minus the hair-pulling (because who can afford a bad hair day?).</p>
          <div class="credit-social">
            <ul style="display: flex;">
              <li><a href="https://www.linkedin.com/in/tomokomatsuoka" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member-portrait">
          <img src="{{ base_url() }}/assets/img/JPG/chris-portrait.jpg" alt="team-member">
        </div>
        <div class="team-member-text">
          <h3>Chris Davis</h3>
          <h4>UX Design and Web Development</h4>
          <ul class="web-link" style="display: flex;">
            <li><a href="http://juniperdesign.co/about" target="_blank" rel="noopener">juniperdesign.co/about</a></li>
            <li><a href="mailto:chris@juniperdesign.co">chris@juniperdesign.co</a></li>
          </ul>
          <p>My personal philosophy as a designer is to seek a deep understanding of each client, the problem they are solving, and the culture of its users; much like a method actor when they are developing a character for a movie. It's my responsibility to empathize with the user while also balancing the needs of stakeholders in every project.  My passion for knowledge and growth have led me to explore the full breadth of design tools and languages which I consider my greatest strength as a designer. As new problem-solving tools and technologies advance, I don't expect to ever "arrive"; but the more I grasp, the more challenging the problems I can tackle to better serve a diverse client base.</p>
          <div class="credit-social">
            <ul style="display: flex;">
              <li><a href="https://www.facebook.com/JuniperUX/" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/JuniperUX" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/chris-davis-juniperdesign/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://www.behance.net/chris7c7a" target="_blank" rel="noopener"><i class="fab fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team-member">
        <div class="team-member-portrait">
          <img src="{{ base_url() }}/assets/img/JPG/don-portrait.jpg" alt="team-member">
        </div>
        <div class="team-member-text">
          <h3>Don Lawson</h3>
          <h4>Musician/Songwriter/Producer</h4>
          <ul class="web-link" style="display: flex;">
            <li><a href="http://reverbnation.com/donlawson" target="_blank" rel="noopener">reverbnation.com/donlawson</a></li>
          </ul>
          <p>Upon reading Gabriella’s books and meeting her in person, it was clear that her powerful messages of kindness would make perfect lyrics for her theme song. I am honored to have written and produced “Dare To Be Kind” for this life-changing Global Kindness Movement.</p>
          <div class="credit-social">
            <ul style="display: flex;">
              <li><a href="https://twitter.com/donlawsonmusic" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
