{% extends 'templates/homepage.twig' %}

{% block content %}
<!--CTA container w/ mosaic-->
  <div id="home-container" class="container" style="background-image:url({{ base_url() }}/assets/img/JPG/Homepage-Collage.jpg);"></div>

{% endblock %}
