{% extends 'templates/about.twig' %}

{% block content %}
<div class="hero">
  <div class="hero-panel k-instigators">
    <div class="hero-heading">
      <h2>Kindness Instigators</h2>
      <h3>
        Around the Globe
        <br>
        They've made a Difference
      </h3>
    </div>
  </div>
</div>
<div class="tab-wrapper">
  <div class="tab-row row">
    <div class="tab-nav">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s3"><a href="#kindness" class="active">Kindness Instigators</a></li>
      </ul>
    </div>
    <div id="kindness" class="col s12">
      <section class="intro-text">
        <blockquote>
          The <span style="font-weight:bold;">Kindness Instigator Badge</span> is awarded to individuals and organizations that the #Daretobekind - A Global Movement recognizes as taking purposeful action to improve the lives of others.
        </blockquote>
        <p>Kindess Instigators are individuals who...<br>
          See the need and then meet the need.<br>
          Create kind moments for others.<br>
          Go out of their way daily to be kind to someone else.
        </p>
      </section>
      <hr>
      <section class="kindness-instigators">
        <div class="section-heading">
          <h2>Kindness Instigators</h2>
          <h4>March 2018</h4>
        </div>
        <div class="kindness-members">
          <div class="kindness-member">
            <div class="kindness-member-portrait">
              <img src="{{ base_url() }}/assets/img/PNG/Hannah-portrait.png" alt="kindess-member">
            </div>
            <div class="kindness-member-text">
              <h3>Hannah Ras</h3>
              <h4>Zeist, The Netherlands</h4>
              <p>I am passionate about kindness because I can't imagine a world that has no kindness.  I believe kindness is the essence of who we truly are.  It should be at the heart of every community and flow naturally in endless ripples towards all of life and humankind.</p>
            </div>
          </div>
          <div class="kindness-member">
            <div class="kindness-member-portrait">
              <img src="{{ base_url() }}/assets/img/JPG/Emma-portrait.jpg" alt="kindess-member">
            </div>
            <div class="kindness-member-text">
              <h3>Emma Bertram</h3>
              <h4>Moline, IL, USA</h4>
              <p>My biggest lesson I would like to share is that you define yourself. Once you realize that nobody defines you, that is truly the moment no one can stop you from making a difference.  Be kind, be you, and keep moving forward!</p>
            </div>
          </div>
          <div class="kindness-member">
            <div class="kindness-member-portrait">
              <img src="{{ base_url() }}/assets/img/JPG/Seth-portrait.jpg" alt="kindess-member">
            </div>
            <div class="kindness-member-text">
              <h3>Seth Finley</h3>
              <h4>Lander, WY, USA</h4>
              <p>We are affected by negativity in many ways, but in general, no one has the energy to deal with it. So let’s see if we can minimize it from the world as much as possible.</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="kindness-instigators">
        <div class="section-heading">
          <h4>2018 Honorees</h4>
        </div>
        <div class="kindness-members">
          <div class="kindness-member">
            <div class="kindness-member-portrait">
              <img src="{{ base_url() }}/assets/img/JPG/Michael-Bjornbak_DDS.jpg" alt="kindess-member">
            </div>
            <div class="kindness-member-text">
              <h3>Michael Bjornbak, DDS</h3>
              <h4>Sherman Oaks, CA, USA</h4>
              <p>"When someone is the real deal, you know it. Dr. Michael Bjornbak (d. 2018) was one of those people who I am proud to have known. He had every quality of a Kindness Instigator, both in his work and the way he interacted with people on a personal level. He was not interested in only performing his services, but also took the time to see what made each patient tick. He talked to you as a person and a future friend. This is what took my breath away the first time I met him. Not only was he talented in many areas, he was passionate about everyone who walked into his office. I feel honored to have known him long enough to see that he saw the good in people and made time to freely give them that kindness we all so desperately seek. Dr. B, thank you for being one of the kindest men I have ever met. Your example will continue the ripple effect of Kindness.” —Gabriella van Rij</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
