<!--Main Navigation-->
<!-- Dropdown Structure -->
<nav class="about-nav" style="overflow:visible !important;">
  <div class="nav-wrapper">
    <a href="{{ path_for('home') }}" class="brand-logo">
      <img class="hide-on-small-only" src="{{ base_url() }}/assets/img/SVG/lightbanner-shadow-blkgray.svg" alt="DTBK-Logo">
      <img class="hide-on-med-and-up" src="{{ base_url() }}/assets/img/SVG/logo-shadow-blk.svg" alt="DTBK-Logo">
    </a>
  </div>
</nav>

<!--FIXED ACTION BUTTON (FAB) for shares/likes-->
<div class="fixed-action-btn hide-on-small-only">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">share</i>
  </a>
  <ul>
    <li><a href="https://www.facebook.com/daretobekindmovement/" class="btn-floating red" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://twitter.com/daretobekindmvt" class="btn-floating red" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></li>
    <li><a class="btn-floating red" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a></li>
    <li><a href="https://www.instagram.com/daretobekindmovement/" class="btn-floating red" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://bit.ly/2IHgIjn" class="btn-floating red" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a></li>
  </ul>
</div>
